{% extends "base.html" %}
{% block content %}
<div class="card people">
   <div class="card-top green">
      <a href="#">
         <img src="assets/img/silhouette_homer.png" alt=""/>
      </a>
   </div>
   <div class="card-info">
      <a class="title" href="#">Homer Simpson</a>
      <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
   </div>
   <div class="card-bottom">
      <button class="btn btn-block">Follow</button>
   </div>
</div>
<div class="card people">
   <div class="card-top green">
      <a href="#">
         <img src="assets/img/silhouette_homer.png" alt=""/>
      </a>
   </div>
   <div class="card-info">
      <a class="title" href="#">Homer Simpson</a>
      <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
   </div>
   <div class="card-bottom">
      <button class="btn btn-block">Follow</button>
   </div>
</div>

<div id="mycontainer" class="projectcontainer">
  <div class="item btn btn-large btn-success results project"
       onclick="window.open('{{  result['url']  }}','mywindow');" style="cursor: hand;">
    <h4 class="name">{{  result['name']  }}</h2>
<p class="description">{{ result['description'] }}</p>
<img src="{{ result['image_url'] }}" width="300">
<p class="nconnections" style="display:none">{{  result['count']  }}</p>
<p class="nbackers" style="display:none">{{ result['nbackers'] }}</p>
<p class="normconn" style="display:none">{{  result['count']  }}</p>
<p class="prediction" style="display:none">{{  result['prediction']  }}</p>
<h5 class="prediction_disp">{{  result['prediction']  }}% chance of success</h5>
</div>
<br>
</div>

<div class="card hovercard">
   <img src="assets/img/the-simpsons.png" alt=""/>
   <div class="avatar">
      <img src="assets/img/avatar_homer.png" alt="" />
   </div>
   <div class="info">
      <div class="title">
         Titolo
      </div>
      <div class="desc">Lorem ipsum</div>
      <div class="desc">Lorem ipsum</div>
      <div class="desc">Lorem ipsum</div>
   </div>
   <div class="bottom">
      <button class="btn">Add</button>
   </div>
</div>
<div class="card hovercard">
   <img src="assets/img/the-simpsons.png" alt=""/>
   <div class="avatar">
      <img src="assets/img/avatar_homer.png" alt="" />
   </div>
   <div class="info">
      <div class="title">
         Titolo
      </div>
      <div class="desc">Lorem ipsum</div>
      <div class="desc">Lorem ipsum</div>
      <div class="desc">Lorem ipsum</div>
   </div>
   <div class="bottom">
      <button class="btn">Add</button>
   </div>
</div>
{% endblock %}
