{% extends "base.html" %}

{% block head %}{% endblock %}

{% block content %}

<div id="sliders">
  <br>
  <h5>desired project size (number of backers):</h5>
  <input class="slider slider-horizontal" id="slidernorm" data-slider-tooltip="hide" value=5 data-slider-value=5>
  <h5>desired project success (probability):</h5>
  <input class="slider slider-horizontal" id="sliderprob" data-slider-tooltip="hide" value=5 data-slider-value=5>
  <br>
  <br>
</div>

{% endblock %}

{% block scripts %}

<script>
  $(document).ready(function(){
  $('.slider').slider({
  orientation: "horizontal",
  range: "min",
  min: 0,
  max: 10,
  value: 5,
  slide: function( event, ui) { normfunction() }
  });
  });
</script>

{% endblock %}
