{% extends "base.html" %}
{% block content %}

    <!-- The header -->


      
          <div id="login_form">
            <form action="" method="post" name="login" onsubmit="return validateform()">    
              {{form.hidden_tag()}}        
              Job title 1:<br>        
              {{form.job1(size=40, placeholder="e.g. data scientist")}}<br>    
              </p>    
              <p>        
              Job title 2:<br>        
              {{form.job2(size=40, placeholder="e.g. psychologist")}}</p>    
              <p><div id="submit_button"><input type="submit" class="btn btn-success" value="Help me pick a place"></div>
            </form>
          </div>        
        
    
  <div id="map-canvas"></div>

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    <script src="static/dist/js/data.js"></script>
    <script>
    // Search send (press enter) - jquery
    // Wait til page load is ready
    $(document).ready(function(){
      console.log( "ready!" );
      //When the button with id find_button is clicked then do these actions
      $('#submit_button').click(function() {
         //Collect the values in the form fields with ids of restaurant_name, miles, and zipcode
         var job1 = $('#job1').val();
         var job2 = $('#job2').val();
         //Call the getRestaurant function in data.js with the input values
         getWaypoints(job1, job2);
      });
    });
  </script>

{% endblock %}