{% extends "base.html" %}

{% block head %}{% endblock %}

{% block content %}

<!---Main input text -->
<div class="container">

  <div style="margin:0px; margin-left:0px; margin-top:50px; border-width:10px;">
    <!--Jobs:<br>-->
    <!--- Box where user inputs restaurant, has name restaurant_type -->
    <input id="job1" type="text" class="input-lg" placeholder="Job title - Partner A">
    <!--- Box where user inputs allowed distance, has name miles -->
    <input id="job2" type="text" class="input-lg" placeholder="Job title - Partner B">
    <p><div><input id="find_button" type="submit" class="btn btn-success btn-lg" value="Help me pick a place"></div>
  </div>

  <div id="label">
    <center>Helping couples decide where to work and live together...
    <br>
    ... and live happily ever after.
  </div>
</div>

{% endblock %}

{% block scripts %}

<script>
  // Search send (press enter) - jquery
  // Wait til page load is ready
  $(document).ready(function(){
  console.log( "ready!" );
  //When the button with id find_button is clicked then do these actions
  $('#find_button').click(function() {
  //Collect the values in the form fields with ids of job1, job2
  var job1 = $('#job1').val();
  var job2 = $('#job2').val();
  //Call the Python function maps() with the input values
  //window.location.href = "maps?job1="+job1+"&job2="+job2
  window.location.href = "results?job1="+job1+"&job2="+job2
  });
  });
</script>

{% endblock %}
